@use "../../styles/variables.scss" as *;

.backlinks {
  flex-direction: column;
  border-bottom: 1px solid var(--lightgray);
  padding-bottom: 1rem;
  margin-bottom: 1rem;

  & > h2 {
    font-size: 1.2rem;
    margin: 1.5rem 0 0.5rem 0;
    font-weight: 400;
  }

  & > ul.backlinks-list {
    list-style: disc;
    margin: 0.5rem 0;

    & > li {
      margin-bottom: 0.3rem;

      & > a {
        background-color: #FFF7EB;
        color: #062123;
        padding: 1px 4px;
        border-radius: 3px;
        text-decoration: none;

        &:hover {
          background-color: #f0e8da;
        }
      }
    }
  }
}
